<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

	<div class="container">
		<form action="/driver/create" th:object="${driver}" method="POST" enctype="application/json">
		<input type="text"  th:field = "${driver.name}"  placeholder="Name">
		<input type="text"  th:field = "${driver.gender}"  placeholder="gender">
		<input type="number" th:field = "${driver.age}" placeholder="age">
		<input type="text"  th:field = "${driver.vehicle_model}"  placeholder="vehicle_model">
		<input type="text"  th:field = "${driver.vehicle_number}"  placeholder="vehicle_number">
		<input type="number" th:field = "${driver.location_x}" placeholder="x coord">
		<input type="number" th:field = "${driver.location_y}" placeholder="y coord">
		<button type="submit">Create Project</button>
		</form>
	</div>
	
</body>

</html>